.Tutorial_wrapper__AwXG7 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    max-height: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    gap: .8rem
}

.Tutorial_glitchFrame__hZpWs {
    -webkit-box-flex: 4;
    -webkit-flex-grow: 4;
    -ms-flex-positive: 4;
    border: 2;
    flex-grow: 4;
    height: calc(100vh - 110px)
}

@media screen and (max-width: 800px) {
    .Tutorial_glitchFrame__hZpWs {
        display:none
    }
}

.Tutorial_instructionsWrapper__vsg7U {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 35%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: .4rem;
    margin-top: .4rem;
    padding: 0 1.6rem
}

@media screen and (max-width: 800px) {
    .Tutorial_instructionsWrapper__vsg7U {
        width:100%
    }
}

.Tutorial_headerWrapper__jrcmQ {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9
}

.Tutorial_arrowBar__Rb5k1 {
    background-color: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.Tutorial_progressBar__bvm7q {
    background-repeat: no-repeat;
    height: 4px;
    min-width: 100%
}

.Tutorial_arrowArea__WdwAF {
    position: -webkit-sticky;
    position: sticky;
    top: 0
}

.Tutorial_stepIntro__7uOPO {
    font-weight: 700
}

.DocsBeta_docs__dXY_Q {
    color: #111;
    font-family: Cern,Helvetica,Arial,sans-serif;
    font-size: 1.6rem;
    line-height: 2.4rem
}

@font-face {
    font-display: swap;
    font-family: Cern;
    font-style: normal;
    font-weight: 400;
    src: url(/assets/fonts/cern-regular.woff2) format("woff2")
}

@font-face {
    font-display: swap;
    font-family: Cern;
    font-style: italic;
    font-weight: 400;
    src: url(/assets/fonts/cern-italic.woff2) format("woff2")
}

@font-face {
    font-display: swap;
    font-family: Cern;
    font-style: normal;
    font-weight: 500;
    src: url(/assets/fonts/cern-medium.woff2) format("woff2")
}

@font-face {
    font-display: swap;
    font-family: Cern;
    font-style: italic;
    font-weight: 500;
    src: url(/assets/fonts/cern-mediumitalic.woff2) format("woff2")
}

@font-face {
    font-display: swap;
    font-family: Cern;
    font-style: normal;
    font-weight: 600;
    src: url(/assets/fonts/cern-semibold.woff2) format("woff2")
}

@font-face {
    font-display: swap;
    font-family: Cern;
    font-style: italic;
    font-weight: 600;
    src: url(/assets/fonts/cern-semibolditalic.woff2) format("woff2")
}

@font-face {
    font-display: swap;
    font-family: Cern;
    font-style: normal;
    font-weight: 700;
    src: url(/assets/fonts/cern-bold.woff2) format("woff2")
}

@font-face {
    font-display: swap;
    font-family: Cern;
    font-style: italic;
    font-weight: 700;
    src: url(/assets/fonts/cern-bolditalic.woff2) format("woff2")
}

@font-face {
    font-display: swap;
    font-family: Cern;
    font-style: normal;
    font-weight: 800;
    src: url(/assets/fonts/cern-extrabold.woff2) format("woff2")
}

@font-face {
    font-display: swap;
    font-family: Cern;
    font-style: italic;
    font-weight: 800;
    src: url(/assets/fonts/cern-extrabolditalic.woff2) format("woff2")
}

@font-face {
    font-display: swap;
    font-family: Inconsolata;
    font-style: normal;
    font-weight: 400;
    src: url(/assets/fonts/Inconsolata-Regular.ttf) format("truetype"),url(/assets/fonts/Inconsolata-Regular.woff2) format("woff2")
}

@font-face {
    font-display: swap;
    font-family: Inconsolata;
    font-style: normal;
    font-weight: 700;
    src: url(/assets/fonts/Inconsolata-Bold.ttf) format("truetype"),url(/assets/fonts/Inconsolata-Bold.woff2) format("woff2")
}

.DocsBeta_docs__dXY_Q *,.DocsBeta_docs__dXY_Q :after,.DocsBeta_docs__dXY_Q :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-variant-ligatures: common-ligatures;
    -webkit-font-smoothing: antialiased;
    font-variant-ligatures: common-ligatures;
    text-rendering: optimizeLegibility
}

.DocsBeta_docs__dXY_Q html {
    font-size: 62.5%
}

.DocsBeta_docs__dXY_Q body {
    color: var(--color-text-high-contrast);
    font-family: Cern,Helvetica,Arial,sans-serif;
    font-size: 1.6rem;
    line-height: 2.4rem
}

.DocsBeta_docs__dXY_Q .DocsBeta_h1__pOIfL,.DocsBeta_docs__dXY_Q h1 {
    font-family: Cern,Helvetica,Arial,sans-serif;
    font-size: 6rem;
    font-weight: 800;
    line-height: 1.2
}

.DocsBeta_docs__dXY_Q .DocsBeta_h2__GDIfz,.DocsBeta_docs__dXY_Q h2 {
    font-family: Cern,Helvetica,Arial,sans-serif;
    font-size: 3.6rem;
    font-weight: 800;
    line-height: 1.33
}

.DocsBeta_docs__dXY_Q .DocsBeta_h3__yXzw7,.DocsBeta_docs__dXY_Q h3 {
    font-family: Cern,Helvetica,Arial,sans-serif;
    font-size: 3.6rem;
    font-weight: 400;
    line-height: 1.33
}

.DocsBeta_docs__dXY_Q .DocsBeta_h4__XW7kJ,.DocsBeta_docs__dXY_Q h4 {
    font-family: Cern,Helvetica,Arial,sans-serif;
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 1.33
}

.DocsBeta_docs__dXY_Q .DocsBeta_h4__XW7kJ.DocsBeta_emphasis__Hyubx,.DocsBeta_docs__dXY_Q h4.DocsBeta_emphasis__Hyubx {
    font-weight: 800
}

.DocsBeta_docs__dXY_Q .DocsBeta_h5__4KZ7d,.DocsBeta_docs__dXY_Q h5 {
    font-family: Cern,Helvetica,Arial,sans-serif;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.5
}

.DocsBeta_docs__dXY_Q .DocsBeta_h6__QXOTf,.DocsBeta_docs__dXY_Q h6 {
    font-family: Inconsolata,Consolas,Courier,monospace;
    font-size: 1.4rem;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 1.33;
    text-transform: uppercase
}

.DocsBeta_docs__dXY_Q .DocsBeta_p__Z7Dvl,.DocsBeta_docs__dXY_Q p {
    color: var(--color-text-default-contrast);
    font-size: 1.6rem;
    line-height: 1.5
}

.DocsBeta_docs__dXY_Q a {
    color: var(--color-text-high-contrast);
    text-decoration: none
}

.DocsBeta_docs__dXY_Q .DocsBeta_small__KtTUN,.DocsBeta_docs__dXY_Q small {
    font-size: 1.2rem;
    letter-spacing: .25px;
    line-height: 1.33
}

.DocsBeta_docs__dXY_Q .DocsBeta_code__5K8NS,.DocsBeta_docs__dXY_Q code {
    background-color: var(--color-fill-bg-secondary);
    border-radius: .2rem;
    color: #111;
    font-family: Inconsolata,Consolas,Courier,monospace;
    font-size: 1.4rem;
    padding: .2rem .4rem;
    white-space: pre-wrap;
    word-break: break-word
}

.DocsBeta_docs__dXY_Q em {
    font-style: italic
}

.DocsBeta_docs__dXY_Q b,.DocsBeta_docs__dXY_Q strong {
    font-weight: 600
}

.DocsBeta_docs__dXY_Q code {
    background-color: rgba(0,0,0,0);
    font-size: 1.6rem;
    padding: 0;
    white-space: nowrap
}

.DocsBeta_docs__dXY_Q h1 {
    font-size: 3.6rem;
    font-weight: 800;
    line-height: 4.8rem;
    margin-bottom: 3.2rem;
    margin-top: 3.2rem
}

.DocsBeta_docs__dXY_Q h2 {
    font-size: 3.6rem;
    font-weight: 400;
    line-height: 4.8rem;
    margin-bottom: 2.4rem
}

.DocsBeta_docs__dXY_Q h3 {
    color: #555;
    font-size: 3.2rem;
    margin-bottom: 1.6rem;
    margin-top: 4rem
}

.DocsBeta_docs__dXY_Q h4 {
    font-size: 2.4rem;
    line-height: 3.2rem;
    margin-bottom: 1.6rem
}

.DocsBeta_docs__dXY_Q h4 code {
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 3.2rem
}

.DocsBeta_docs__dXY_Q h4.DocsBeta_noMargin__jIRAu {
    margin-bottom: 0
}

.DocsBeta_docs__dXY_Q h5 {
    margin-bottom: 1.6rem
}

.DocsBeta_docs__dXY_Q h6 {
    color: #555;
    font-family: Cern,Helvetica,Arial,sans-serif;
    font-size: 1.6rem;
    font-weight: 600;
    letter-spacing: normal;
    margin-bottom: 1.6rem;
    text-transform: none
}

.DocsBeta_docs__dXY_Q h1 strong,.DocsBeta_docs__dXY_Q h2 strong,.DocsBeta_docs__dXY_Q h3 strong,.DocsBeta_docs__dXY_Q h4 strong,.DocsBeta_docs__dXY_Q h5 strong,.DocsBeta_docs__dXY_Q h6 strong {
    font-weight: 800
}

.DocsBeta_docs__dXY_Q p {
    margin-bottom: 2.4rem
}

.DocsBeta_docs__dXY_Q p .DocsBeta_imgTitle__YODJj {
    margin: auto;
    text-align: center;
    width: 50%
}

.DocsBeta_docs__dXY_Q br {
    content: "";
    display: block;
    margin-top: 2.4rem
}

.DocsBeta_docs__dXY_Q label p {
    margin-top: 0
}

.DocsBeta_docs__dXY_Q i svg {
    max-height: 2.4rem;
    max-width: 2.4rem
}

.DocsBeta_docs__dXY_Q blockquote {
    background-color: #fafafa;
    border-left: 4px solid #f6f6f6;
    border-radius: 2px;
    margin-bottom: 1.6rem;
    padding: .8rem 1.6rem
}

.DocsBeta_docs__dXY_Q blockquote>:last-child {
    margin-bottom: 0
}

.DocsBeta_docs__dXY_Q blockquote>:first-child {
    margin-top: 0
}

.DocsBeta_docs__dXY_Q ul {
    list-style: none
}

.DocsBeta_docs__dXY_Q a {
    will-change: transform
}

.DocsBeta_docs__dXY_Q a code {
    font-weight: 600
}

.DocsBeta_docs__dXY_Q img {
    max-width: none
}

.DocsBeta_docs__dXY_Q table {
    margin-bottom: 0
}

.DocsBeta_docs__dXY_Q table code {
    white-space: normal
}

.DocsBeta_docs__dXY_Q pre {
    overflow: unset
}

.Step_tutorialDocs__q2tmx {
    padding: 0 1.6rem
}

.Step_tutorialDocs__q2tmx a {
    color: #111;
    display: inline;
    line-height: 2.4rem;
    position: relative;
    text-decoration: underline;
    -webkit-text-decoration-color: #111;
    text-decoration-color: #111;
    text-decoration-thickness: 1px;
    text-underline-offset: 4px;
    -webkit-transition: color .1s ease-in-out;
    transition: color .1s ease-in-out
}

.Step_tutorialDocs__q2tmx a:hover {
    color: #0072cf;
    text-decoration: none;
    text-underline-offset: 0
}

.Step_tutorialDocs__q2tmx a:active {
    color: #0061b3
}

.Step_tutorialDocs__q2tmx li,.Step_tutorialDocs__q2tmx p {
    color: #000;
    font-family: Cern Medium,Helvetica,sans-serif;
    font-size: 1.5rem;
    line-height: 1.3
}

.Step_tutorialDocs__q2tmx code {
    background-color: #f7f7f7;
    color: #000;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.3
}

.Step_tutorialDocs__q2tmx li,.Step_tutorialDocs__q2tmx p {
    margin-bottom: 1.6rem
}

.Step_tutorialDocs__q2tmx img {
    -webkit-box-shadow: 0 .2rem .4rem 0 hsla(0,0%,7%,.08);
    box-shadow: 0 .2rem .4rem 0 hsla(0,0%,7%,.08);
    display: block;
    margin: 0 auto 2.4rem;
    max-width: 100%!important
}

.Step_tutorialDocs__q2tmx ul {
    list-style: initial
}

.Step_callout__T1kc7 {
    margin-bottom: 2.4rem;
    padding-bottom: .8rem;
    padding-top: .8rem
}

.SmallCodeBlock_smallCode__TyZHx {
    background-color: #fff;
    -webkit-box-shadow: 0 .2rem .4rem 0 hsla(0,0%,7%,.08);
    box-shadow: 0 .2rem .4rem 0 hsla(0,0%,7%,.08);
    display: block;
    font-family: Inconsolata,Consolas,Courier,monospace;
    font-size: 1.4rem;
    font-weight: 700;
    margin: .8rem 0;
    padding: .4rem
}

.SideDiscussion_wrapper__0V7wh {
    background-color: #fafafa;
    -webkit-box-shadow: 0 .8rem .8rem 0 hsla(0,0%,7%,.08);
    box-shadow: 0 .8rem .8rem 0 hsla(0,0%,7%,.08);
    margin-bottom: 1.6rem;
    padding: 0 .8rem
}

.SideDiscussion_sideDiscussion__tEJO4 {
    border-top: 1px solid #ededed;
    width: 100%
}

.SideDiscussion_discussionToggle__8ynaG {
    display: block;
    padding: 1.6rem 0;
    width: 100%
}

.SideDiscussion_titleSection__pEIS9 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: left;
    -webkit-justify-content: left;
    -ms-flex-pack: left;
    cursor: pointer;
    font-size: 2.4rem;
    justify-content: left;
    text-align: left;
    width: 100%
}

.SideDiscussion_title__GOzCX {
    color: #111;
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 0;
    margin-right: 0
}

.SideDiscussion_iconColumn__q2URn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: end;
    -ms-flex-pack: end;
    justify-content: end
}

.SideDiscussion_icon__cID61 {
    line-height: 2.4rem
}

.SideDiscussion_content__lQoju {
    width: 90%
}

.Logo_logo__OtU3H {
    display: none;
    font-family: Inconsolata,Consolas,Courier,monospace;
    font-size: 1.6rem;
    letter-spacing: .3rem;
    margin-top: -.4rem;
    text-transform: uppercase
}

@media screen and (min-width: 640px) {
    .Logo_logo__OtU3H {
        display:block;
        margin-left: 16px;
        position: relative
    }
}

@media screen and (max-width: 1382px) {
    .Logo_logo__OtU3H {
        display:none
    }
}

.SaveForm_wrapper__RUYHx {
    -webkit-box-shadow: 0 .8rem 1.6rem 0 hsla(0,0%,7%,.08);
    box-shadow: 0 .8rem 1.6rem 0 hsla(0,0%,7%,.08);
    margin-bottom: 1.2rem;
    padding: .8rem
}

.ContentfulToolbar_settingsBtn__5orr_ {
    bottom: 2rem;
    position: fixed;
    right: 2rem;
    zoom:1.8}

.ContentfulToolbar_cardWrapper__hFrej {
    position: fixed
}

.ContentfulToolbar_previewCard__78P2u {
    bottom: 8rem;
    position: fixed;
    right: 4rem;
    width: 340px
}

.ContentfulToolbar_buttonGroup__OF9Ac {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row;
    -ms-flex-flow: row;
    flex-flow: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0 auto;
    width: 200px
}

.ContentfulToolbar_closeBtn__PVqeZ {
    margin-bottom: 0!important
}

.ContentfulToolbar_applyBtn__9ZVbX {
    margin-left: auto
}

.PrefsMenu_containerDiv__3rf71 {
    position: absolute;
    right: 3.2rem;
    top: 2.4rem
}

.PrefsMenu_containerDiv__3rf71,.PrefsMenu_menuWrapper__BhGGf {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    z-index: 10;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end
}

.PrefsMenu_menuWrapper__BhGGf {
    background-color: #fff;
    border: 1px solid #dcdcdc;
    -webkit-box-shadow: 0 .8rem .8rem 0 hsla(0,0%,7%,.08);
    box-shadow: 0 .8rem .8rem 0 hsla(0,0%,7%,.08);
    gap: 1.2rem;
    max-width: 20rem;
    padding: 2.4rem 1.2rem 1.2rem;
    text-align: end
}

.PrefsMenu_fakeButton__WHEp_ {
    background-color: #111;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    padding: 1.2rem
}

.PrefsMenu_fakeButton__WHEp_:hover {
    background-color: #0a85ea
}

.PrefsMenu_dialogBox__ruZTz {
    padding: 3.2rem
}

.PrefsMenu_dialogButtonBar__O_KfT {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
    -webkit-justify-content: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    margin-top: 3.2rem
}

.PrefsMenu_formIntro__Tqccd {
    margin-bottom: 1.2rem
}

.PrefsMenu_disappearingItem__Ba_iv {
    display: none
}

.PrefsMenu_containerDiv__3rf71:hover .PrefsMenu_disappearingItem__Ba_iv {
    display: inherit
}

.BlogPostTemplate_wrapper__6J42_ {
    margin: 0 auto;
    max-width: 62.4rem;
    padding: 3rem 2.4rem 10rem
}

@media screen and (min-width: 640px) {
    .BlogPostTemplate_wrapper__6J42_ {
        padding-top:7.2rem
    }
}

@media screen and (min-width: 1024px) {
    .BlogPostTemplate_wrapper__6J42_ {
        padding-left:0;
        padding-right: 0;
        padding-top: 7.6rem
    }
}

.BlogPostTemplate_headingHr__HSIWc {
    border-bottom: 2px solid #000;
    margin: 0 0 3.6rem;
    width: 6.4rem
}

.BlogPostTemplate_body__YJqz2 {
    margin-bottom: 3rem
}

.BlogPostTemplate_body__YJqz2 b {
    font-weight: 600
}

.BlogPostTemplate_body__YJqz2 h1 {
    font-size: 3.6rem;
    font-weight: 400;
    line-height: 4.8rem;
    margin-bottom: 1.6rem;
    margin-top: 2.4rem
}

@media screen and (max-width: 639px) {
    .BlogPostTemplate_body__YJqz2 h1 {
        font-size:2.4rem;
        line-height: 4rem;
        margin-top: 6.4rem
    }
}

.BlogPostTemplate_body__YJqz2 h2 {
    font-size: 1.6rem;
    line-height: 2;
    margin-bottom: .8rem
}

@media screen and (min-width: 1024px) {
    .BlogPostTemplate_body__YJqz2 h2 {
        font-size:2.4rem;
        line-height: 3.2rem;
        margin-bottom: 1.6rem;
        margin-top: 6.4rem
    }
}

.BlogPostTemplate_body__YJqz2 h3 {
    color: #878787;
    font-family: Inconsolata,Consolas,Courier,monospace;
    font-size: 1.2rem;
    letter-spacing: .3rem;
    line-height: 1.8rem;
    margin-bottom: .8rem;
    margin-top: 0;
    text-transform: uppercase
}

@media screen and (min-width: 1024px) {
    .BlogPostTemplate_body__YJqz2 h3 {
        font-size:1.4rem;
        line-height: 2rem;
        margin-top: .8rem
    }
}

.BlogPostTemplate_body__YJqz2 dl,.BlogPostTemplate_body__YJqz2 ol,.BlogPostTemplate_body__YJqz2 ul {
    margin-bottom: 1.6rem
}

.BlogPostTemplate_body__YJqz2 dl dl,.BlogPostTemplate_body__YJqz2 dl ol,.BlogPostTemplate_body__YJqz2 dl ul,.BlogPostTemplate_body__YJqz2 ol dl,.BlogPostTemplate_body__YJqz2 ol ol,.BlogPostTemplate_body__YJqz2 ol ul,.BlogPostTemplate_body__YJqz2 ul dl,.BlogPostTemplate_body__YJqz2 ul ol,.BlogPostTemplate_body__YJqz2 ul ul {
    margin-bottom: 0
}

.BlogPostTemplate_body__YJqz2 ol {
    list-style-type: decimal
}

.BlogPostTemplate_body__YJqz2 p {
    font-size: 1.4rem;
    line-height: 2.4rem;
    margin-bottom: 3.2rem
}

@media screen and (min-width: 1024px) {
    .BlogPostTemplate_body__YJqz2 p {
        font-size:1.6rem
    }
}

.BlogPostTemplate_body__YJqz2 blockquote {
    font-family: Cern,Helvetica,Arial,sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    border-left: 0;
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
    color: #111;
    font-size: 14px;
    font-style: italic;
    line-height: 24px;
    margin: 0 0 48px;
    padding: 0 0 0 80px;
    position: relative
}

.BlogPostTemplate_body__YJqz2 blockquote p {
    font-size: 14px
}

.BlogPostTemplate_body__YJqz2 blockquote:before {
    background-image: url(/assets/img/blog/blockquote.png);
    background-size: cover;
    color: #c7d4df;
    content: "";
    display: block;
    font-size: 36px;
    height: 20px;
    left: 0;
    position: absolute;
    top: -12px;
    width: 24px
}

.TutorialFeedback_expandedWrapper__3DXUj,.TutorialFeedback_smallWrapper__OBT_b {
    background-color: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: .8rem;
    position: absolute;
    right: 8rem;
    top: 1.6rem;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    border: 2px solid rgba(0,0,0,0);
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    z-index: 10
}

.TutorialFeedback_expandedWrapper__3DXUj {
    border: 2px solid #0072cf;
    width: 25.6rem
}

.TutorialFeedback_showOnHover__JIH8r {
    display: none
}

.TutorialFeedback_smallWrapper__OBT_b:hover .TutorialFeedback_showOnHover__JIH8r {
    display: inherit
}

.TutorialFeedback_thankYouWrapper__FcHmd {
    padding: 1.6rem
}

.TutorialFeedback_header__nTe_G {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    width: 100%
}

.TutorialFeedback_form__x2Dvy {
    width: 100%
}

.TutorialFeedback_selectFix__iF1Gu {
    z-index: 5
}

.TutorialTemplate_topBar__ez7zH {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 1.6rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    gap: 4rem;
    height: 8rem;
    width: 100%
}

@media screen and (max-width: 800px) {
    .TutorialTemplate_topBar__ez7zH {
        gap:.8rem;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center
    }

    .TutorialTemplate_logoWrapper__zPwKf {
        max-width: -webkit-fit-content;
        max-width: -moz-fit-content;
        max-width: fit-content
    }
}

.TutorialTemplate_titleWrapper__nGEWH {
    text-align: center
}

@media screen and (max-width: 800px) {
    .TutorialTemplate_titleWrapper__nGEWH {
        text-align:right
    }
}

.TutorialTemplate_title__yop15 {
    display: inline
}

@media screen and (max-width: 800px) {
    .TutorialTemplate_title__yop15 {
        font-size:2rem
    }
}

.TutorialTemplate_menuWrapper__mylPH {
    min-width: 126px
}

@media screen and (max-width: 800px) {
    .TutorialTemplate_menuWrapper__mylPH {
        display:none
    }
}

.TutorialTemplate_mainContent__5THWr {
    height: calc(100vh - 110px);
    padding: 0 10px;
    width: 100%
}

.CoastTemplate_topBar__rgnoO {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 1.6rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    gap: 4rem;
    height: 8rem;
    width: 100%
}

@media screen and (max-width: 800px) {
    .CoastTemplate_topBar__rgnoO {
        gap:.8rem;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center
    }

    .CoastTemplate_logoWrapper__EbWSt {
        max-width: -webkit-fit-content;
        max-width: -moz-fit-content;
        max-width: fit-content
    }
}

.CoastTemplate_titleWrapper__RSVTM {
    text-align: center
}

@media screen and (max-width: 800px) {
    .CoastTemplate_titleWrapper__RSVTM {
        text-align:right
    }
}

.CoastTemplate_title__dr9OV {
    display: inline
}

@media screen and (max-width: 800px) {
    .CoastTemplate_title__dr9OV {
        font-size:2rem
    }
}

.CoastTemplate_menuWrapper__Hbog9 {
    min-width: 126px
}

@media screen and (max-width: 800px) {
    .CoastTemplate_menuWrapper__Hbog9 {
        display:none
    }
}

.CoastTemplate_mainContent__NEtFb {
    height: 100vh;
    padding: 0 10px;
    width: 100%
}

.OpeningsListRow_item__rY_TI {
    border-bottom: 1px solid #ededed;
    padding: 24px 0;
    position: relative
}

.OpeningsListRow_item__rY_TI .OpeningsListRow_location__tmRwH {
    padding-left: 36px;
    position: relative
}

@media screen and (max-width: 1023px) {
    .OpeningsListRow_item__rY_TI .OpeningsListRow_location__tmRwH {
        font-size:12px
    }
}

.OpeningsListRow_item__rY_TI .OpeningsListRow_location__tmRwH span {
    display: block;
    padding-top: 3px
}

@media screen and (max-width: 639px) {
    .OpeningsListRow_item__rY_TI .OpeningsListRow_location__tmRwH span {
        display:block;
        padding-top: 6px
    }
}

.OpeningsListRow_item__rY_TI .OpeningsListRow_location__tmRwH:before {
    content: "";
    height: 24px;
    left: 0;
    position: absolute;
    width: 24px
}

.OpeningsListRow_item__rY_TI .OpeningsListRow_location__tmRwH.OpeningsListRow_saltLakeCity__czMgL:before {
    background-image: url(/assets/img/icons/icon-location-slc.svg)
}

.OpeningsListRow_item__rY_TI .OpeningsListRow_location__tmRwH.OpeningsListRow_newYork__JvK0U:before {
    background-image: url(/assets/img/icons/icon-location-ny.svg)
}

.OpeningsListRow_item__rY_TI .OpeningsListRow_location__tmRwH.OpeningsListRow_sanFrancisco__1D9tU:before {
    background-image: url(/assets/img/icons/icon-location-sf.svg)
}

.OpeningsListRow_item__rY_TI .OpeningsListRow_location__tmRwH.OpeningsListRow_unitedStates__HR_Kl:before {
    background-image: url(/assets/img/icons/icon-location-us.svg)
}

.OpeningsListRow_item__rY_TI .OpeningsListRow_location__tmRwH.OpeningsListRow_canada__BoAfM:before {
    background-image: url(/assets/img/icons/icon-location-canada.svg)
}

.OpeningsListRow_item__rY_TI .OpeningsListRow_location__tmRwH.OpeningsListRow_london__QSiwy:before,.OpeningsListRow_item__rY_TI .OpeningsListRow_location__tmRwH.OpeningsListRow_uk__R_wnS:before,.OpeningsListRow_item__rY_TI .OpeningsListRow_location__tmRwH.OpeningsListRow_unitedKingdon__tNPxq:before {
    background-image: url(/assets/img/icons/icon-location-uk.svg)
}

.OpeningsListRow_item__rY_TI .OpeningsListRow_location__tmRwH.OpeningsListRow_amsterdam__sQAcu:before,.OpeningsListRow_item__rY_TI .OpeningsListRow_location__tmRwH.OpeningsListRow_netherlands__QY5iE:before {
    background-image: url(/assets/img/icons/icon-location-netherlands.svg)
}

.OpeningsListRow_item__rY_TI .OpeningsListRow_location__tmRwH.OpeningsListRow_generic__6ZA7d:before {
    background-image: url(/assets/img/icons/icon-location-generic.svg)
}

@media screen and (max-width: 639px) {
    .OpeningsListRow_item__rY_TI {
        padding:12px 0 16px
    }
}

.OpeningsListRow_item__rY_TI.OpeningsListRow_noBorder__HrmUE {
    border: none
}

.OpeningsListRow_item__rY_TI p {
    margin: 0
}

.OpeningsListRow_item__rY_TI .OpeningsListRow_itemArrow__QqXQK {
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%) rotate(90deg);
    -ms-transform: translateY(-50%) rotate(90deg);
    transform: translateY(-50%) rotate(90deg)
}

@media screen and (max-width: 639px) {
    .OpeningsListRow_item__rY_TI .OpeningsListRow_itemArrow__QqXQK {
        -webkit-transform:translateY(-50%) scale(.75) rotate(90deg);
        -ms-transform: translateY(-50%) scale(.75) rotate(90deg);
        transform: translateY(-50%) scale(.75) rotate(90deg)
    }
}

.OpeningsListRow_item__rY_TI.OpeningsListRow_blue__8aYmv .OpeningsListRow_location__tmRwH,.OpeningsListRow_item__rY_TI.OpeningsListRow_blue__8aYmv .OpeningsListRow_title__a5C9M,.OpeningsListRow_item__rY_TI.OpeningsListRow_blue__8aYmv svg g g {
    color: #0a85ea
}

.OpeningsListRow_item__rY_TI.OpeningsListRow_green__y_64d .OpeningsListRow_location__tmRwH,.OpeningsListRow_item__rY_TI.OpeningsListRow_green__y_64d .OpeningsListRow_title__a5C9M,.OpeningsListRow_item__rY_TI.OpeningsListRow_green__y_64d svg g g {
    color: #23d09c
}

.OpeningsListRow_item__rY_TI.OpeningsListRow_pink__34B67 .OpeningsListRow_location__tmRwH,.OpeningsListRow_item__rY_TI.OpeningsListRow_pink__34B67 .OpeningsListRow_title__a5C9M,.OpeningsListRow_item__rY_TI.OpeningsListRow_pink__34B67 svg g g {
    color: #f44e66
}

.OpeningsListRow_item__rY_TI.OpeningsListRow_purple__JmXwI .OpeningsListRow_location__tmRwH,.OpeningsListRow_item__rY_TI.OpeningsListRow_purple__JmXwI .OpeningsListRow_title__a5C9M,.OpeningsListRow_item__rY_TI.OpeningsListRow_purple__JmXwI svg g g {
    color: #7646ec
}

.OpeningsListDepartmentHeader_header__fHhlI {
    border: none;
    margin-top: 6.4rem
}

.OpeningsListDepartmentHeader_header__fHhlI:first-child {
    margin-top: 1.6rem
}

@media screen and (max-width: 639px) {
    .OpeningsListDepartmentHeader_header__fHhlI {
        margin-top:1.6rem
    }
}

.OpeningsListDepartmentHeader_title__Lc9ml {
    color: #383838;
    font-weight: 800;
    text-align: right
}

@media screen and (max-width: 1023px) {
    .OpeningsListDepartmentHeader_title__Lc9ml {
        font-size:14px
    }
}

@media screen and (min-width: 1024px) {
    .TopicPageTemplate_topicPage__qCBw_ .carousel-media-center-wrapper.media-container,.TopicPageTemplate_topicPage__qCBw_ .content-carousel-slide.simple-carousel {
        max-height:55rem
    }
}

.TopicPageTemplate_paginationContainer__9jaRy nav {
    margin-top: -40px;
    padding-left: 8px
}

.TopicPageTemplate_topicPageNoResults__WJnHk {
    min-height: 310px
}

.TopicPageTemplate_topicPageNoResults__WJnHk .TopicPageTemplate_noResultText__TdPu4 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center
}

.TopicPageTemplate_tileGroup__RXTAa {
    position: relative
}

.TopicPageTemplate_skeletonContainer__Qu_BT {
    height: 40rem;
    position: relative
}

.TopicPageTemplate_skeletonContainer__Qu_BT .TopicPageTemplate_skeletonImage__7oyaZ {
    height: 280px;
    position: absolute;
    width: 100%
}

.TopicPageTemplate_skeletonContainer__Qu_BT .TopicPageTemplate_skeletonTextContainer__LKpB5 {
    bottom: 10px;
    left: 4%;
    margin: auto;
    position: absolute;
    width: 92%
}

.TopicPageTemplate_skeletonContainer__Qu_BT .TopicPageTemplate_textSkeleton__nyayn {
    height: 24px;
    margin: 5px 0;
    width: 100%
}

.TopicPageTemplate_skeletonContainer__Qu_BT .TopicPageTemplate_bodyTwoSkeleton___JG3B {
    width: 86%
}

.TopicPageTemplate_skeletonContainer__Qu_BT .TopicPageTemplate_ctaSkeleton__2D5zV {
    width: 35%
}

.OpeningsList_listContainer__xuToq {
    margin: 104px 0
}

.OpeningsList_blankSlateText__7F3mD {
    margin-top: 9%
}

@media screen and (max-width: 639px) {
    .InstitutionTemplate_internalLinkHeading__nMUOd {
        font-size:1.6rem;
        line-height: 2.1875
    }
}

.InstitutionTemplate_internalLinksCta__aAZS5 {
    margin-top: 3rem
}
